@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --gap:12px;
    --header-height:60px;
    --footer-height:40px;
    --white-color:#f2f2f2;
    --black-color:#313649;
    --primary-color:#59a4aa;
    --secondary-color: #9cd6c5;
    --dark-gray-color:#848990;
    --light-gray-color:#c5c5c5;
    --tittle-font: "Nunito", sans-serif;
    --body-font: "Lexend", sans-serif;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    display: grid;
    grid-template-columns: 400px 1fr; 
    grid-template-rows: auto 1fr auto;
    
    grid-template-areas: 
        "header header" /* Fila 1: el header ocupa ambas columnas */
        "aside main"   /* Fila 2: aside a la izquierda y main a la derecha */
        "footer footer";/* Fila 3: el footer ocupa ambas columnas */
    
    max-height: 100vh;
    background-color: var(--white-color);
    overflow: hidden;
}

/*Header*/
header{
    grid-area: header;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 20px;
    background:var(--primary-color);
    height: var(--header-height);
}
header .logo img{
    height: calc(var(--header-height) - 16px);
}
header .title{
    font-family: var(--tittle-font);
    font-size:1.5rem;
    font-weight:800;
    color:var(--white-color);
}

/* Aside */
#summary-aside{
    position: relative;
    grid-area: aside;
    background: var(--light-gray-color);
    color: var(--black-color);
    padding: var(--gap);
    font-family: var(--tittle-font);
}
#summary-aside h3{
    margin: 0 0 8px;
    font-size: 1rem;
}
#summary-list{
    list-style: none;
    font-size: .8rem;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 4px;
}
#summary-list li{
    padding: 6px 4px;
    border-bottom: 1px solid var(--dark-gray-color);
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:var(--gap);
}
#summary-list li:last-child{
    border-bottom: none;
}
#summary-list .count{
    font-family: var(--tittle-font);
    font-size: 2rem;
    font-weight: 700;
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
    text-align:right;
}
#summary-list .title{flex:1;
    font-size: 1rem;
    padding-left:8px;
    color:#222;
}.filter-row{
    display:flex;
    width: 100%;
    align-items: center;
    gap: var(--gap);
    justify-content: start;
    margin-bottom:24px;
}
.filter-row select{
    padding: 8px 10px;
    width: 100%;
    border: none;
    border-bottom:1px solid var(--dark-gray-color);
    background: transparent;
    font-family: var(--body-font);
    color: var(--black-color);
}
.filter-row label{
    font-family: var(--body-font);
    font-size:.8rem;
    color:var(--black-color);
}.extract{
    position: relative;
    margin-top: 16px;
    font-size: .85rem;
    color: var(--black-color);
    line-height: 1.4;
}
.extract span.material-symbols-outlined{
    position: absolute;
    top:0;
    right:0;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--dark-gray-color);
}
.extract h3{
    font-size: 1rem;
    margin-bottom: 4px;
    font-family: var(--tittle-font);
}
.copy-content{
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
    background-color: var(--white-color);
}
.extract h4{
    display: none;
    font-family: var(--tittle-font);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.extract p{
    font-family: var(--body-font);
    font-weight: 300;
    margin-bottom: 8px;
}
.selector-container{
    position: absolute;
    bottom: 100px;
    right: -100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: rotate(-90deg);
}
.selector-container button{
    height: 40px;
    width: 120px;
    text-align: center;
    border:none;
    border-radius:20px 20px 0 0;
    background:var(--dark-gray-color);
    color:var(--white-color);
    font-family: var(--body-font);
    cursor: pointer;
}
#table_button.active, #map_button.active{
    background:var(--secondary-color);
    color:var(--black-color);
    box-shadow: 4px -2px 4px rgba(0,0,0,0.1);
    z-index: 10;
}

/* Main */
main{
    grid-area: main;
    padding: var(--gap);
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    font-family: var(--body-font);
    background: var(--secondary-color);
    color: var(--black-color);
}
.grid-2x2{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:var(--gap);
    grid-auto-rows: 1fr;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
}
.card{
    background:var(--white-color);
    border-radius:4px;
    padding:12px;
    display:flex;
    flex-direction:column;
    max-height: calc((100vh - var(--header-height) - var(--footer-height) - var(--gap) * 2) * 0.5 - var(--gap));
    overflow: auto;
}
.card h2{
    margin:0 0 10px 0;
    font-size:1rem;
    color:var(--black-color);
    font-family: var(--tittle-font);
}
table{
    width:100%;
    border-collapse:collapse;
    font-size:13px;
    font-family: var(--body-font);
    color:var(--dark-gray-color);
}
th, td{
    text-align:left;
    padding:6px 8px;
    border-bottom:1px solid var(--light-gray-color);
}
th{
    font-weight:600;
    font-size:12px;
    color:var(--black-color);
    font-family: var(--tittle-font);
}

/* Map section */
#map-section{
    display:block;
    height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    width: 100%;
    background-color: var(--light-gray-color);
}

#iframe-selected{
    width:100%;
    height:100%;
    border:none;
}

/* Footer */
footer{
    grid-area: footer;
    background: var(--black-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    font-family: var(--tittle-font);
    font-size: 0.9rem;
    font-weight: 600;
}
footer h2{
    font-family: var(--tittle-font);
    text-transform: uppercase;
    font-size:1rem;
    font-weight:600;
    color: var(--light-gray-color);
}
